<div class="upper_footer py-5 bg-black text-white">
  <div class="arrow-up">
    <i class="fas fa-angle-up"></i>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 d-flex flex-wrap align-items-center gap-3">
        <div class="d-flex gap-2 align-items-center">
          <h2>more <span class="d-block">than</span></h2>
          <h3 class="number">100</h3>
        </div>

        <div>
          <h4 class="text-uppercase">IDEAS HAVE BEEN GENERATED</h4>
          <h4 class="text-uppercase">
            In the time it took you to read this <br />
            sentence
          </h4>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer-btn">
          <button
            class="btn btn-primary bg-transparent border-white rounded-pill px-4 py-2"
          >
            Let's Bond
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-3 col-md-6">
        <div class="card px-1 bg-transparent border-0">
          <div class="card-body">
            <h4 class="card-title text-uppercase pb-3">The Bonders Are</h4>
            <p>
              A bonded family that mix and match creativity and commitment to
              help brands go beyond the limit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card px-1 bg-transparent border-0">
          <div class="card-body">
            <h4 class="card-title text-uppercase pb-3">Get in touch</h4>
            <ul class="list-unstyled contact-links">
              <li class="mb-2">
                <div class="footer-img">
                  <img src="/images/mobile_icon.png" alt="mobile_icon" />
                </div>
                <a href="tel:+201021551322">+2 - 01021551322</a>
              </li>
              <li class="mb-2">
                <div class="footer-img">
                  <img src="/images/envelope_icon.png" alt="envelope_icon" />
                </div>
                <a href="mailto:Bonder@digitalbondmena.com">
                  Bonder&#64;digitalbondmena.com</a
                >
              </li>
              <li class="mb-2">
                <div class="footer-img">
                  <img src="/images/pin_map_icon.png" alt="pin_map_icon" />
                </div>
                <a
                  href="https://maps.app.goo.gl/uJRwNnri7w9NyyYw8"
                  target="_blank"
                  >11 Ahmed Al Shatouri, Ad Dokki, Giza Governorate</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="card px-1 bg-transparent border-0">
          <div class="card-body">
            <h4 class="card-title text-uppercase pb-3">Explore more</h4>
            <ul class="list-unstyled pages-links">
              <li class="mb-2">
                <a href="#">Home</a>
              </li>
              <li class="mb-2">
                <a href="#">About us</a>
              </li>
              <li class="mb-2">
                <a href="#">careers</a>
              </li>
              <li class="mb-2">
                <a href="#">Say hello</a>
              </li>
              <li class="mb-2">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card px-1 bg-transparent border-0">
          <div class="card-body">
            <h4 class="card-title text-uppercase pb-3">Keywords</h4>
            <div class="footer-keywords d-flex flex-wrap">
              <a class="btn btn-primary" href="">Go Back Home?</a>
              <a class="btn btn-primary" href="">Want To Join Us</a>
              <a class="btn btn-primary text-uppercase" href="">Let's Talk</a>
              <a class="btn btn-primary" href="">Mobile Apps</a>
              <a class="btn btn-primary" href="">SMS Campaigns</a>
              <a class="btn btn-primary" href="">Want To Know More About Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6 d-flex justify-content-center">
        <div class="copy-rights">
          <p class="m-1">
            Copyright © 2025
            <img
              height="30px"
              class="mx-1"
              src="/images/logo_black.webp"
              alt="footer logo Digital Bond"
            />
            All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
